<h3>Quotation</h3>

<div class="quotation">
  <p><strong>Author:</strong> <%= quotation.author_name %></p>
  <p><strong>Category:</strong> <%= quotation.category %></p>
  <p><strong>Quote:</strong> <%= quotation.quote %></p>
</div>








