<h3>Quotation</h3>

<div class="quotation container">
  <p><strong style="color:red">Author:</strong> <%= quotation.author_name %></p>
  <p style="margin-left:10px;"><strong style="color:red">Category:</strong> <%= quotation.category.name %></p>
  <p style="margin-left:10px;"><strong style="color:red">Quote:</strong> <%= quotation.quote %></p>
</div>








